# Environment variables (THIS WILL NEVER BE COMMITED TO GITHUB)
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual environment
venv/
.venv/

# Models (too large for git)
*.pkl
*.zip

# Backtest results
backtesting/results/

# Logs
*.log
*.db

# VS Code
.vscode/

# Oracle deployment script
get_oracle.py
debug_oracle.py
