#command to run in case you don't know: pip install -r requirements.txt
# Data sources 
polygon-api-client
textblob
pandas
numpy
ta


# ML provider
scikit-learn
xgboost
stable-baselines3
gymnasium

# Backtesting of work
vectorbt

# Dashboard is streamlit
streamlit

# Scheduling of apis
APScheduler

# Environment is this
python-dotenv

# Testing of system
pytest
alpaca-trade-api==3.2.0

#google-generativeai
google-genai
websockets>=14.0
